/*https://startbootstrap.com/previews/grayscale*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* Navbar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 30px 10px;
  /* background-color: aqua;*/
}
.logo {
  text-align: center;
}
.nav-links {
  margin-left: 30%;
  display: flex;
  align-items: center;
}
.nav-links li {
  font-size: 20px;
  margin: 0 35px;
}

.menu {
  display: none;
  width: 80px;
  height: 45px;
  padding: 13px 10px;
  margin-bottom: 3px;
  cursor: pointer;
}
.menu p {
  color: rgb(85, 150, 150);
  font-size: 13px;
}
header {
  width: 100vw;
  height: 100vh;
  background-image: url(./srk/bla1.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-content {
  width: 550px;
  height: 40px;
  /* margin-bottom: 250px; */
  color: whitesmoke;
  text-align: center;
}
.header-content h1 {
  font-size: 10vmin;
  /* margin-right: 5px;
  padding: 0px 15px; */
}
.header-content p {
  font-size: 1.6em;
  padding-top: 10px;
  padding-bottom: 50px;
  /* width: 50%;
  height: 80px; */
  /* background-color: red;*/
  /* margin-top: 10px;
  margin-left: 8em;
  margin-bottom: 50px;
  text-align: center; */
}
.header-content a {
  background-color: rgb(77, 142, 153);
  font-size: 1em;
  /* text-align: center; */
  border-radius: 6px;
  padding: 20px 36px;
}
/* Built */
.built {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./srk/bla3.jpeg);
  background-size: cover;
  background-position: bottom;
}
.built-content {
  width: 500px;
  height: 40px;
  text-align: center;
  /* padding-top: 260px;
  padding-left: 150px;
  text-align: center;
 margin-left: 40px;
  display: flex;
  justify-content: center;*/

  color: whitesmoke;
}
.built-content h1 {
  font-size: 35px;
}
.built-content p {
  margin: 15px;
  /* width: 60%;
  height: 20px;
  margin: 20px 100px;
  text-align: center;*/
}
/* img3  Shoreline */
.shoreline {
  width: 75%;
  height: 80vh;
  margin: 90px auto;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}
.shoreline img {
  background-position: center;
  width: 65%;
  margin: 0px 50px 0 0;
}
.shoreline-content {
  width: 300px;
  margin: auto;
  text-align: center;
}
.shoreline-content h3 {
  color: rgb(51, 49, 49);
}

.shoreline-content p {
  color: rgb(132, 135, 138);
}
/*misty mountain */
.mm {
  width: 80%;
  /* height: 80px; */
  margin: auto;
  background-color: aqua;
}
.misty {
  margin-top: 50px;
  height: 360px;
  display: flex;
}
.misty img {
  width: 50%;
}
.misty-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: whitesmoke;
}
.mis {
  text-align: center;
}
.mis {
  height: 150px;
  padding: 10px 95px;
}
.misty-content h1 {
  color: whitesmoke;
}
.misty-content p {
  margin-top: 10px;
  color: rgb(177, 175, 175);
}
/*mountains*/
.mount {
  height: 360px;
  display: flex;
}
.mount img {
  width: 50%;
}
.mount-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 50%;
}
.mou {
  /* margin: 50px 25px; */

  padding: 0px 95px;
}
.mount-content h1 {
  color: whitesmoke;
  text-align: center;
}
.mount-content p {
  margin-top: 10px;
  text-align: center;
  color: rgb(177, 175, 175);
}
.last {
  background-color: aqua;
  background-image: url(./srk/black.jpg);
}

/*media query*/
@media Screen and (max-width: 921px) {
  .navbar {
    padding: 0;
  }
  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .nav-links {
    /*display: none;*/

    flex-direction: column;

    /* margin-top: -900px;*/
    background-color: rgb(136, 90, 22);
  }

  .nav-links li {
    /*margin: 10px;*/
    background-color: yellow;
  }

  .menu {
    display: block;
    position: absolute;
    align-items: center;
    right: 30px;
    top: 3px;
    border: 1px solid rgb(85, 150, 150);
    border-radius: 8px;
  }
  .mobile-menu {
    margin-top: opx;
  }

  /* header {
     margin-top: 100px; 
  }
  .header-content p {
    width: 80%;
    height: 60px;
    margin-top: 15px;
    margin-left: 3em;
    padding: 0px; 
  } */

  .shoreline {
    /* margin:90px  auto;  */
    flex-direction: column;
  }
  .shoreline img {
    width: 530px;
    height: 70%;
  }
  .shoreline-content {
    text-align: center;
    width: 80%;
    height: 20px;
    margin: 40px;
  }
  .shoreline-content p {
    margin: 10px 0px 0px;
  }
  .mm {
    margin-top: 50px;
  }
  .misty {
    flex-direction: column;
  }
  .misty img {
    width: auto;
  }
  .misty-content {
    width: auto;
  }
  .mount {
    margin-top: 70%;
    /* align-items: center; */
    flex-direction: column-reverse;
  }
  .mount img {
    margin: 0px 0px;
    width: auto;
  }
  .mount-content {
    width: auto;
  }

  /*
  .mount img {
    width: auto;
    margin-top: 50px;
    height: 50vh;
    position: absolute;
  }
  .mount-content {
    width: auto;
    height: 100%;
    padding-top: 50%;
    position: absolute;
  }
  .mou {
    margin: 20%;
    text-align: end;
    background-color: aqua;
  }*/
}
